<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by variety..." value="<%- query.q %>" name="q">
    <button class="btn btn-outline-primary">Search</button>
</div>
 