body {
  height: 100vh;
  background: rgb(40, 150, 35);
  background: linear-gradient(
    339deg,
    rgba(40, 150, 35, 0.700717787114846) 11%,
    rgba(72, 159, 92, 0.6839110644257703) 26%,
    rgba(42, 157, 93, 0.6839110644257703) 56%,
    rgba(69, 194, 176, 0.7287289915966386) 82%,
    rgba(95, 228, 255, 0.6895133053221288) 100%
  );
}

.site-logo {
  max-height: 3rem;
}
