<div class="bg-light my-5 p-5 shadow bg-body-tertiary rounded">
    <div class="mb-4 pb-4 d-flex justify-content-between border-bottom">
        <h5 class="mb-0 text-capitalize">
            Login form
        </h5>
    </div>
    <form method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" 
        class="form-control" 
        name="email" 
        value="<%- form.email %>"
        id="email"
        required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" 
        class="form-control" 
        name="password"
        id="password"
        required>
    </div>

    <% if (errors) { %>
    <div class="alert alert-danger">Invalid email or password</div>
    <% } %>

    <button class="btn btn-primary">Login</button>
    </form>
</div>