<div class="bg-light my-5 p-5 shadow bg-body-tertiary rounded">
    <div class="mb-4 pb-4 d-flex justify-content-between border-bottom">
        <h5 class="mb-0">
            Home page
        </h5>
    </div>
    <% if(user) { %>
    <section>
        User: <%= user.email %>
    </section>
    <%} else { %>
        <section>
            <h6>Welcome to Pland Documentation App!</h6>
            <p>Go to <a href="/register">registration</a> or  <a href="/login">login</a> to your account.</p>
        </section>
    <% } %>
</div>
   
