<div class="bg-light my-5 p-5 shadow bg-body-tertiary rounded">
    <div class="mb-4 pb-4 d-flex justify-content-between border-bottom">
        <% if(user) { %>
        <h5 class="mb-0">
            User: <%= user.email %>
        </h5>
        <%}%>
    </div>
</div>
   
